body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #0056b3;
}

p {
    text-align: center;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo del botón para abrir el modal */
#openModalBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#openModalBtn:hover {
    background-color: #003d80;
}

/* Estilo del modal */
.modal {
    display: none; /* Inicialmente está oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

/* Botón para cerrar el modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
